<div class="count-down-timer">
  <p>Nedräkning till {{ (targetDate) | date:dateFormat :'GMT':locale }} </p>
  <div class="wrapper">
    <div class="times">
      <p> {{ nrOfDays }} <small>dagar</small></p>
    </div>
  </div>
</div>


<div class="count-down-timer">
  <p>Ställ in datum</p>
  <div class="wrapper">
    <form #myForm="ngForm" (ngSubmit)="saveDate(myForm.value)">
      <p>
        <label>Datum att räkna ner till:</label>
        <input type="date" min="{{today | date:'yyyy-MM-dd'}}" [(ngModel)]="inputDate" name="inputDate" required>
      </p>
      <p>
        <button type="submit" [disabled]="!myForm.valid">Spara</button>
      </p>
    </form>
  </div>
</div>
