<div class="count-down-timer">
  <p>Nedräkning till {{ (targetDate) | date:dateFormat :'GMT':locale }} </p>
  <div class="wrapper">
    <div class="description">
      <p>Dagar</p>
      <p>Timmar</p>
    </div>
    <div class="times">
      <p #dagar></p>
      <p #timmar></p>
    </div>

    <form #myForm="ngForm" (ngSubmit)="saveDate(myForm.value)">
      <p>
        <label>Datum att räkna ner till:</label>
        <input type="date" [(ngModel)]="inputDate" name="inputDate" required>
      </p>
      <p>
        <button type="submit" [disabled]="!myForm.valid">Spara</button>
      </p>
    </form>

  </div>
</div>